<form autocomplete="off">
    <div class="spire-flexbox">
        <img class="spire-portrait" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        <div class="spire-horizontal-gap"></div>
        <div>
            <input class="spire-general-information-input-name" type="text" name="name" value="{{actor.name}}" />
            <span class="spire-flexbox">
                <div>
                    <span class="spire-general-information-label">{{localize "SPIRE.Class"}}</span>
                    <div class="spire-vertical-gap"></div>
                    <span class="spire-general-information-label">{{localize "SPIRE.Durance"}}</span>
                </div>
                <div>
                    <input class="spire-general-information-input" type="text" name="data.class" value="{{data.data.class}}" />
                    <div class="spire-vertical-gap"></div>
                    <input class="spire-general-information-input" type="text" name="data.durance" value="{{data.data.durance}}" />
                </div>
            </span>
        </div>
    </div>
    <div class="spire-vertical-gap"></div>
    <div class="spire-grid">
        <!-- Skills, domains and resistances -->
        <div class="spire-skills-domains-resistances">
            <!-- Skills -->
            <div>
                <div class="spire-skill-list-title">{{localize "SPIRE.Skills"}}</div>
                <div class="spire-skill-list">
                    {{#each data.data.skills as |skill key|}}
                    <div class="spire-skill">
                        <a class="spire-skill-checkbox">
                            <input id="{{key}}" type="checkbox" name="data.skills.{{key}}.value" {{checked skill.value}} />
                            <label for="{{key}}"><i class="far fa-circle"></i><i class="fas fa-check"></i></label>
                        </a>
                        <span class="spire-skill-label">{{localize skill.label}}</span>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="spire-vertical-gap"></div>

            <!-- Domains -->
            <div>
                <div class="spire-domain-list-title">{{localize "SPIRE.Domains"}}</div>
                <div class="spire-domain-list">
                    {{#each data.data.domains as |domain key|}}
                    <div class="spire-domain">
                        <a class="spire-domain-checkbox">
                            <input id="{{key}}" type="checkbox" name="data.domains.{{key}}.value" {{checked domain.value}} />
                            <label for="{{key}}"><i class="far fa-circle"></i><i class="fas fa-check"></i></label>
                        </a>
                        <span class="spire-domain-label">{{localize domain.label}}</span>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="spire-vertical-gap"></div>

            <!-- Resistances -->
            <div>
                <div class="spire-resistance-list-title">{{localize "SPIRE.Resistances"}}</div>
                <div class="spire-resistance-list">
                    {{#each data.data.resistances as |resistance key|}}
                    <div class="spire-resistance">
                        <span class="spire-resistance-label">{{localize resistance.label}}</span>
                        <input id="{{key}}" type="number" name="data.resistances.{{key}}.value" value="{{resistance.value}}" />
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <!-- Knacks -->
        <div class="spire-knacks spire-table">
            <div class="spire-table-title">
                <div class="spire-table-title-label">{{localize "SPIRE.Knacks"}}</div>
                <a class="spire-item-create" data-type="knack"><i class="fas fa-plus"></i></a>
            </div>
            <div class="spire-table-items">
                {{#each actor.knacks as |item id|}}
                <div class="spire-table-item" data-item-id="{{item._id}}">
                    <div class="spire-table-item-title">
                        <div class="spire-table-item-title-label" title="{{item.name}}">{{item.name}}</div>
                        <div class="spire-table-item-title-controls">
                            <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
                            <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Equipment -->
        <div class="spire-equipment spire-table">
            <div class="spire-table-title">
                <div class="spire-table-title-label">{{localize "SPIRE.Equipment"}}</div>
                <a class="spire-item-create" data-type="equipment"><i class="fas fa-plus"></i></a>
            </div>
            <div class="spire-table-items">
                {{#each actor.equipments as |item id|}}
                <div class="spire-table-item" data-item-id="{{item._id}}">
                    <div class="spire-table-item-title">
                        <div class="spire-table-item-title-label" title="{{item.name}}">{{item.name}}</div>
                        <div class="spire-table-item-title-controls">
                            <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
                            <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="spire-tag-list">
                        {{#if item.data.tag1}}
                        <span class="spire-tag">{{item.data.tag1}}</span>
                        {{/if}} {{#if item.data.tag2}}
                        <span class="spire-tag">{{item.data.tag2}}</span>
                        {{/if}} {{#if item.data.tag3}}
                        <span class="spire-tag">{{item.data.tag3}}</span>
                        {{/if}} {{#if item.data.tag4}}
                        <span class="spire-tag">{{item.data.tag4}}</span>
                        {{/if}} {{#if item.data.tag5}}
                        <span class="spire-tag">{{item.data.tag5}}</span>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Refresh -->
        <div class="spire-refresh spire-table">
            <div class="spire-table-title">
                <div class="spire-table-title-label">{{localize "SPIRE.Refresh"}}</div>
                <a class="spire-item-create" data-type="refresh"><i class="fas fa-plus"></i></a>
            </div>
            <div class="spire-table-items">
                {{#each actor.refreshes as |item id|}}
                <div class="spire-table-item" data-item-id="{{item._id}}">
                    <div class="spire-table-item-title">
                        <div class="spire-table-item-title-label" title="{{item.name}}">{{item.name}}</div>
                        <div class="spire-table-item-title-controls">
                            <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
                            <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div>{{item.data.description}}</div>
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Abilities -->
        <div class="spire-abilities spire-table">
            <div class="spire-table-title">
                <div class="spire-table-title-label">{{localize "SPIRE.Abilities"}}</div>
                <a class="spire-item-create" data-type="ability"><i class="fas fa-plus"></i></a>
            </div>
            <div class="spire-table-items">
                {{#each actor.abilities as |item id|}}
                <div class="spire-table-item" data-item-id="{{item._id}}">
                    <div class="spire-table-item-title">
                        <!-- TODO: remove this inline style -->
                        <div style="display: flex">
                            <div class="spire-table-item-title-label" title="{{item.name}}">{{item.name}}</div>
                            &nbsp;
                            <div class="spire-tag-list">
                                <span class="spire-tag">{{item.data.use}}</span>
                            </div>
                        </div>
                        <div class="spire-table-item-title-controls">
                            <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
                            <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div>{{item.data.description}}</div>
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Bonds -->
        <div class="spire-bonds spire-table">
            <div class="spire-table-title">
                <div class="spire-table-title-label">{{localize "SPIRE.Bonds"}}</div>
                <a class="spire-item-create" data-type="bond"><i class="fas fa-plus"></i></a>
            </div>
            <div class="spire-table-items">
                {{#each actor.bonds as |item id|}}
                <div class="spire-table-item" data-item-id="{{item._id}}">
                    <div class="spire-table-item-title">
                        <div class="spire-table-item-title-label" title="{{item.name}}">{{item.name}}</div>
                        <div class="spire-table-item-title-controls">
                            <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
                            <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div>{{item.data.description}}</div>
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Fallout -->
        <div class="spire-fallout spire-table">
            <div class="spire-table-title">
                <div class="spire-table-title-label">{{localize "SPIRE.Fallout"}}</div>
                <a class="spire-item-create" data-type="fallout"><i class="fas fa-plus"></i></a>
            </div>
            <div class="spire-table-items">
                {{#each actor.fallouts as |item id|}}
                <div class="spire-table-item" data-item-id="{{item._id}}">
                    <div class="spire-table-item-title">
                        <div class="spire-table-item-title-label" title="{{item.name}}">{{item.name}}</div>
                        <div class="spire-table-item-title-controls">
                            <a class="spire-item-edit"><i class="fas fa-edit"></i></a>
                            <a class="spire-item-delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div>{{item.data.description}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</form>
